<div  id="home_Page">
    <a class="click" href = 'todo/create'>
        <button type="button" class="btn btn-primary">Create</button>
    </a>
    <a class="click" href = 'todo'>
        <button type="button" class="btn btn-primary">Todolist</button>
    </a>
</div>

<style>
    #home_Page{
        margin-top: 1rem;
    }
    .click{
        margin-right: 1rem;
    }
</style>
